/* Global Color Palette */

:root {
    --primary: #3178c6;
    --nthChild_odd: #ffffff;
    --nthChild_even: #faf9f8;
    --text_color: #fff9cc;
    --accent: #d6e4f4;
}

/* Embeded google fonts -> Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    font-family: "Poppins", system-ui;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* -------------------Navbar------------------ */
header {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: var(--primary);
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px 12px;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    list-style: none;
}
nav ul li a {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 4px;
    transition: .3s;
    color: var(--text_color);
}
nav ul li a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--accent);
    transition: .3s ease-in-out;
}
nav ul li a:hover, nav li a.activeLink {
    color: var(--primary);
    transition: .3s ease-in-out;
}
nav ul li a:hover::after {
    width: 100%;
}
/* -------------------Contents------------------ */
